# Indexing
a = "samosa pakora"
a

In [1]:
# kength of indexing
len(a)

NameError: name 'a' is not defined

In [ ]:
a[0]
a[1]

In [ ]:
a[3]

In [ ]:
a[11]

In [ ]:
a[0:5]

In [ ]:
a[0-5]

In [ ]:
# last index is inclusive
a[0:13]

In [ ]:
a[-6:13]

In [5]:
food = "biryani"
food

'biryani'

# String methods

In [ ]:
food

In [ ]:
len(food)

In [ ]:
# yahan pe ham ny captilize kia hay , food dot k bad tab dbayen gy to sary option aa jayen gy
food.capitalize()

In [ ]:
# for upper case letter
food.upper()

In [ ]:
# lower case lettes main change karny k liye
food.lower()

In [8]:
# replace bhi kar sakty hain kisi bhi letter ko kis other letter k sath
food.replace("b","sh")

'shiryani'

In [9]:
# counting a specific place of alphabet in a string
name = "baba_ammar with Dr Ammar Tufail"
name

'baba_ammar with Dr Ammar Tufail'

In [13]:
name.count("T")

1

# how to find an index number in a string

In [14]:
name = "baba_ammar with Dr Ammar Tufail"
name

'baba_ammar with Dr Ammar Tufail'

In [19]:
name.find("D")

16

In [21]:
# How to split a string
food = "I love samosa, Pakora, Raita, biryani and karahiii"
food

'I love samosa, Pakora, Raita, biryani and karahiii'

In [22]:
food.split(",")

['I love samosa', ' Pakora', ' Raita', ' biryani and karahiii']

## Basic data Structures in Python
1. Tuple
2. List
3. Dictionaries
4. Set

## 1-Tuple
order collection of elements
enclosed in () round brackets, pranthes
different kind of elements can be stored
once elements are stored you cannot changed (unmutateable)

In [25]:
tuple1 = (1, "python", True, 2.5)
tuple1

(1, 'python', True, 2.5)

In [26]:
# type of a tuple
type(tuple1)

tuple

### - Indexing in tuple

In [29]:
tuple1[2]

True

In [31]:
# last element is exclusive
tuple1[0:5]

(1, 'python', True, 2.5)

In [34]:
# count of elements in tuple

len(tuple1)

4

In [45]:
tuple2 = (2, "baba ammar", 3.5, False)
tuple2

(2, 'baba ammar', 3.5, False)

In [46]:
# concatinate tuple 1 and tuple 2
tuple1+tuple2

(1, 'python', True, 2.5, 2, 'baba ammar', 3.5, False)

In [48]:
tuple1*2+tuple2

(1, 'python', True, 2.5, 1, 'python', True, 2.5, 2, 'baba ammar', 3.5, False)

In [49]:
tuple3 = (20,50,30,50,79,85)
tuple3

(20, 50, 30, 50, 79, 85)

In [52]:
# minimum and maximum values
min(tuple3)
max(tuple3)

85

In [53]:
tuple3*2

(20, 50, 30, 50, 79, 85, 20, 50, 30, 50, 79, 85)

## 2-List
- ordered collection of elements
- enclosed in [] square brackets
- mutateable, you can change the values

In [54]:
list1 = [2, "haroon", False]
list1

[2, 'haroon', False]

In [55]:
type(list1)

list

In [56]:
len(list1)

3

In [57]:
list1[2]

False

In [59]:
list2 = [3,5,"ammar","codenics",478, 53.2, False]
list2

[3, 5, 'ammar', 'codenics', 478, 53.2, False]

In [60]:
list1+list2

[2, 'haroon', False, 3, 5, 'ammar', 'codenics', 478, 53.2, False]

In [62]:
list1*2

[2, 'haroon', False, 2, 'haroon', False]

In [69]:
list1.reverse()
list1

[False, 'haroon', 2]

In [71]:
list1.append("codanins youtube channel")
list1

[False, 'haroon', 2, 'codanins youtube channel', 'codanins youtube channel']

In [81]:
list1.count("%you%")

0

In [83]:
list3 = [20,30,35,15,12,10,8,7]
list3

[20, 30, 35, 15, 12, 10, 8, 7]

In [84]:
len(list3)

8

In [86]:
# sorting a list
list3.sort()
list3

[7, 8, 10, 12, 15, 20, 30, 35]

In [87]:
list3*3

[7,
 8,
 10,
 12,
 15,
 20,
 30,
 35,
 7,
 8,
 10,
 12,
 15,
 20,
 30,
 35,
 7,
 8,
 10,
 12,
 15,
 20,
 30,
 35]

In [91]:
lists = list1+list2+list3
lists

[False,
 'haroon',
 2,
 'codanins youtube channel',
 'codanins youtube channel',
 3,
 5,
 'ammar',
 'codenics',
 478,
 53.2,
 False,
 7,
 8,
 10,
 12,
 15,
 20,
 30,
 35]

## 3. Dictionaries
- An unordered collection of elements
- key and value
- curly brackets or {}
- Mutateable/change the values

In [98]:
#Food and their prices
food1 = {"Samosa":30, "Pakora":100,"Raita":20, "Salad":50, "Chicken Rolls":30}
food1

{'Samosa': 30, 'Pakora': 100, 'Raita': 20, 'Salad': 50, 'Chicken Rolls': 30}

In [99]:
type(food1)

dict

In [101]:
#Extract data

keys1 = food1.keys() 
keys1

dict_keys(['Samosa', 'Pakora', 'Raita', 'Salad', 'Chicken Rolls'])

In [103]:
values1 = food1.values()
values1

dict_values([30, 100, 20, 50, 30])

In [105]:
#adding new element in the list/modify/update
food1["Tikki"]=10
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 10}

In [106]:
#update the valuse
food1["Tikki"]=15
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15}

In [107]:
food2 = {"Dates":50, "Choclates":200, "Sawayyan":1000}
food2

{'Dates': 50, 'Choclates': 200, 'Sawayyan': 1000}

In [109]:
#concatinate
food1.update(food2)
food1

{'Samosa': 30,
 'Pakora': 100,
 'Raita': 20,
 'Salad': 50,
 'Chicken Rolls': 30,
 'Tikki': 15,
 'Dates': 50,
 'Choclates': 200,
 'Sawayyan': 1000}

## 4-Sets
- Unordered and un indexed
- curly braces {}
- no duplicates allowed

In [110]:
s1 = {1,2.1, 5.2, "Ammar", "codenics", "Faislaabad", True}
s1

{1, 2.1, 5.2, 'Ammar', 'Faislaabad', 'codenics'}

In [117]:
s1.add("Ammar1")
s1

{1, 2.1, 5.2, 'Ammar', 'Ammar1', 'Faislaabad', 'codenics'}

In [118]:
s1.remove("Ammar1")
s1

{1, 2.1, 5.2, 'Ammar', 'Faislaabad', 'codenics'}